
setGetScreenRes.xcodeproj/project.xcworkspace/xcuserdata/lirichard.xcuserdatad/UserInterfaceState.xcuserstate

setGetScreenRes.xcodeproj/xcuserdata/lirichard.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

screenresolution.xcodeproj/project.xcworkspace/xcuserdata/lirichard.xcuserdatad/UserInterfaceState.xcuserstate

screenresolution.xcodeproj/xcuserdata/lirichard.xcuserdatad/xcschemes/screenresolution.xcscheme

screenresolution.xcodeproj/xcuserdata/lirichard.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
